body {
    background-image: url(images/bg2000x2000.png);
    background-color: #cccccc;
   }

h1 {
    text-align: center;
    color: #fff;
    font-family: Motterdam-K74zp;
    font-size: 75px;
}

@font-face {
    font-family: Motterdam-K74zp;
    src: url(fonts/Motterdam-K74zp.ttf) format("truetype");
    src: url(fonts/Motterdam-K74zp.woff) format("woff");
}

@media screen and (max-width: 1258px) {
    .window {
        width: 90% !important;
    }
}

.face {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 2px dashed #fc61ca;
}

.format {
    color: #71cbfc;
    font-family: 'Times New Roman';
    font-size: 25px;
}

.format2 {
    color: #71cbfc;
    font-family: 'Times New Roman';
    font-size: 15px;
    text-align: center;
}

.format3 {
    color: #bce8ff;
    font-family: 'Times New Roman';
    font-size: 25px;
    text-align: center;
}

.format4 {
    color: #0b2431;
    font-family: 'Times New Roman';
    font-size: 15px;
}

.window {
    background-color:#0b2431;
    border: 2px ridge #fc61ca;
    padding: 1%;
    width: 40%;
    margin: auto;
}

.btn {
    background-color: #8afcba;
    border: none;
    color: white;
    padding: 5px;
    width: 75px;
    cursor: pointer;
    border-radius: 5px;
    cursor: url(cursors/Link\ Select.cur), pointer;
}

.btn:hover {
    background-color: #67bb8a;
}

.center-justified {
    text-align: justify;
    text-align-last: center;
}

html {
    cursor: url(cursors/Normal\ Select.cur), auto;
}

a {
    cursor: url(cursors/Link\ Select.cur), pointer;
}

.slct {
    cursor: url(cursors/Text\ Select.cur), text;
}
